$font-primary: Quando;
$font-secondary: 'Josefin Sans', sans-serif;
$color-primary: #324360;
$color-accent: #35c4ce;
$color-text: #787878;
$color-dark: #111111;

@mixin transition($duration: 0.3s) {
    transition: all $duration ease;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin hover-transform($scale: 1.5) {
    transition: transform 3.5s ease-in-out;
    
    &:hover {
        transform: scale($scale, $scale);
    }
}

body {
    font-family: $font-primary;
    font-size: 15px;
    color: $color-text;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin-bottom: 25px;
    line-height: 1.6em;
}

a {
    font-weight: 400;
    text-decoration: none;
    color: $color-dark;
    transition: .20s;
    
    &:hover {
        color: #999999;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 25px;
    margin-bottom: 20px;
    font-family: $font-secondary;
    font-weight: 400;
    line-height: 1.3em;
    word-wrap: break-word;
    color: $color-dark;
}

h1 { font-size: 37px; }
h2 { font-size: 31px; }
h3 { font-size: 26px; }
h4 { font-size: 21px; }
h5 { font-size: 18px; }
h6 { font-size: 15px; }

.container {
    width: 94%;
    margin: 0 auto;
}

header {
    font-family: $font-secondary;
    
    nav ul {
        display: none;
    }
}

.top-logo {
    width: 200px;
    margin: 20px auto 40px;
}

article {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

.image-part {
    margin-bottom: 10px;
}

.post-title {
    margin-top: 0;
    
    a {
        color: $color-primary;
        text-transform: uppercase;
        font-size: 26px;
        font-weight: 900;
        margin-top: 15px;
        margin-bottom: 15px;
        line-height: 1.3em;
        @include transition();
        
        &:hover {
            color: $color-accent;
        }
    }
}

footer {
    padding: 30px 0;
    text-align: center;
    background: #eaf2ff;
    color: #989898;
}

#footer {
    a {
        color: #989898;
        
        &:hover {
            color: $color-dark;
        }
    }
}

.footer-logo {
    width: 200px;
    margin: 20px auto;
    text-align: center;
    vertical-align: middle;
}

.footer-social-links {
    padding: 20px 0;
    line-height: 2em;
    
    a {
        margin: 0 10px;
        font-size: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        
        span {
            display: none;
        }
    }
}

#footer-copyright {
    padding: 20px 0;
    font-size: 12px;
    color: #989898;
}

@media only screen and (min-width: 650px) {
    .container {
        width: 90%;
    }

    header nav {
        max-width: 1170px;
        margin: 0 auto;
        @include flex-center;
        height: 60px;
        
        ul {
            display: flex;
        }
        
        li {
            margin: 0 15px;
            position: relative;
            line-height: 24px;
        }
        
        a {
            font-family: $font-secondary;
            color: $color-primary;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 900;
            
            &:hover {
                color: $color-accent;
            }
        }
        
        li.menu-item-has-children > a::after {
            margin-left: 7px;
            font-family: 'Font Awesome 5 Free';
            font-size: 13px;
            color: $color-primary;
            content: '\f078';
        }
        
        ul ul {
            visibility: hidden;
            opacity: 0;
            display: block;
            position: absolute;
            z-index: 9999;
            left: 0;
            background: #f0f0f0;
            transition: all 0.2s ease-out;
        }
        
        ul li:hover ul {
            visibility: visible;
            opacity: 1;
        }
        
        ul ul li {
            border-top: 1px solid #e9e9e9;
            margin: 0;
        }
        
        ul ul a {
            display: block;
            color: $color-dark;
            min-width: 175px;
            margin: 0;
            padding: 20px 10px;
            line-height: 1.4em;
            letter-spacing: 1px;
            transition: .35s;
            
            &:hover {
                background: #ffffff;
                color: #000; 
            }
        }
    }
    
    .current-menu-item a {
        border-bottom: 2px solid $color-primary;
    }

    article {
        display: flex;
    }
    
    .image-part {
        flex: 1;
        overflow: hidden;
        margin-bottom: 0;
        
        img {
            @include hover-transform();
        }
    }
    
    .content-part {
        flex: 1;
        padding-left: 50px;
    }

    .footer-social-links {
        a {
            margin: 0 28px;
        }
        
        i {
            margin-right: 5px;
        }
        
        a span {
            display: inline;
            font-size: 11px;
        }
    }
}